* {
    margin: 0;
    padding: 0;
    font-family: "Imperial", serif;
    box-sizing: border-box;
}

.changer {
    background: #12072f;
}

.card {
    box-sizing: border-box;
    /*position: relative;*/
    width: 100%;
    max-height: 670px;
    min-height: 600px;
    min-width: 300px;
    max-width: 470px;
    background: #130024;
    background: linear-gradient(10deg, rgba(19, 0, 36, 1) 17%, rgba(28, 28, 176, 1) 55%, rgba(97, 2, 207, 1) 86%);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 60px;
    padding: 40px 35px;
    text-align: center;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 0;
}
.new {
    display: flex;
    /*z-index: ;*/
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -65px
    
}
.labelcard {
    margin-top: -40px;
    rotate: 55deg;
    width: 2px;
    height: 1px;
    cursor: pointer;
}
.new p {
    color: white;
    border-radius: 60px;
    font-size: 15px;
    font-weight: bolder;
    rotate: 90deg;
    margin: 50px 0 0 -30px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.search {
    /*width: 100%;*/
    display: flex;
    /*flex: 1 1 200px;*/
    /*align-items: flex-start;*/
    justify-content: space-between;
    /*min-width:10px;*/
    /*flex-wrap: wrap;*/
    flex-shrink: 1;
}

.search input {
    border: 0;
    outline: 0;
    background: aliceblue;
    color: #000000;
    padding-left: 20px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 10px;
    font-size: 25px;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.6);
}

.search button {
    border: 0;
    outline: 0;
    background: aliceblue;
    border-radius: 50%;
    padding: 15px 15px 45px 16px;
    /*width: 60px;*/
    height: 50px;
    /*min-width: 300px;*/
    /*min-height: 10px;*/
    cursor: pointer;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.6);
}

.search button img {
    width: 30px;
}

.weather {
    /*display: none;*/
}

.weather-icon {
    width: 170px;
    max-height: 140px;
    margin-top: 60px;
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.7));
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
    margin-top: 30px;
}

.weather h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: -15px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.weather-conditions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.conditions {
    margin-left: 10px;
}

.willrain {
    margin-left: 60px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 50px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .search {
        flex-wrap: wrap;
    }

    .search button {
        margin-top: 15px;
    }

    .card {
        max-height: 750px;
    }
}